In [55]:
from pyspark.sql import SparkSession
spark=SparkSession.builder\
    .appName("Day20")\
    .getOrCreate()

In [58]:


!pip uninstall -y pyspark
!pip install pyspark==3.5.1

Found existing installation: pyspark 4.0.1
Uninstalling pyspark-4.0.1:
  Successfully uninstalled pyspark-4.0.1
Collecting pyspark==3.5.1
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark==3.5.1)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 8.8 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=a6adaa1d9661aa7c91bd2d97601d7601ea95f44cd1eacf25067c51b5a48c8212
  Stored in directory: /root/.cache/pip/wheels/b1/91/5f/283b53010a8016a4ff1c4a1edd99bbe73afacb099645b5471b
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.9
    Uninstalling py4j-0.10.9.9:
      Successfully uninstalled py4j-0.10.9.9
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
dataproc-spark-connect 1.0.1 requires pyspark[connect]~=4.0.0, but you have pyspark 3.5.1 which is incompatible.
Successfully installed py4j-0.10.9.7 pyspark-3.5.1

In [ ]:
data=[
    ("U001","Delhi",450),
    ("U002","Mumbai",620),
    ("U003","Banglore",300),
    ("U004","Chennai",700)
]
columns=["user_id","city","amount"]
df=spark.createDataFrame(data,columns)
df.show()

+-------+--------+------+
|user_id|    city|amount|
+-------+--------+------+
|   U001|   Delhi|   450|
|   U002|  Mumbai|   620|
|   U003|Banglore|   300|
|   U004| Chennai|   700|
+-------+--------+------+

In [ ]:
from pyspark.sql.functions import col
df=df.withColumn("amount_with_tax",col("amount")*1.18)
df.show()

+-------+--------+------+-----------------+
|user_id|    city|amount|  amount_with_tax|
+-------+--------+------+-----------------+
|   U001|   Delhi|   450|            531.0|
|   U002|  Mumbai|   620|731.5999999999999|
|   U003|Banglore|   300|            354.0|
|   U004| Chennai|   700|            826.0|
+-------+--------+------+-----------------+

In [56]:
df=df.withColumnRenamed("amount_with_tax","total_amount")
df.show()

DateTimeException: [CANNOT_PARSE_TIMESTAMP] Text '2024/01/11' could not be parsed at index 4. Use `try_to_timestamp` to tolerate invalid input string and return NULL instead. SQLSTATE: 22007

In [ ]:
df=df.replace("Delhi","New Delhi",subset=["city"])
df.show()

+-------+---------+------+-----------------+
|user_id|     city|amount|     total_amount|
+-------+---------+------+-----------------+
|   U001|New Delhi|   450|            531.0|
|   U002|   Mumbai|   620|731.5999999999999|
|   U003| Banglore|   300|            354.0|
|   U004|  Chennai|   700|            826.0|
+-------+---------+------+-----------------+

In [ ]:
from pyspark.sql.functions import when
df=df.withColumn(
    "amount_category",
    when(col("amount")>=500,"High")
    .otherwise("Low")
)
df.show()

+-------+---------+------+-----------------+---------------+
|user_id|     city|amount|     total_amount|amount_category|
+-------+---------+------+-----------------+---------------+
|   U001|New Delhi|   450|            531.0|            Low|
|   U002|   Mumbai|   620|731.5999999999999|           High|
|   U003| Banglore|   300|            354.0|            Low|
|   U004|  Chennai|   700|            826.0|           High|
+-------+---------+------+-----------------+---------------+

In [ ]:
raw_orders = [
    ("ORD001","C001","Ravi"," Delhi ","Laptop","Electronics","45000","2024-01-05","Completed"),
    ("ORD002","C002","Sneha","Mumbai"," Mobile ","Electronics","32000","05/01/2024","Completed"),
    ("ORD003","C003","Aman","Bangalore","Laptop","Electronics","55000","2024/01/06","Completed"),
    ("ORD004","C004","Pooja","Delhi","Tablet"," Electronics ","","2024-01-07","Cancelled"),
    ("ORD005","C005","Neha","Chennai","Laptop","Electronics","48000","invalid_date","Completed"),
    ("ORD006","C006","Rahul","Mumbai","Mobile","Electronics",None,"2024-01-08","Completed"),
    ("ORD007","C007","Kiran","Bangalore","Tablet","Electronics","30000","2024-01-08","Completed"),
    ("ORD008","C008","Amit","Delhi","Laptop","electronics","45000","2024-01-09","Completed"),
    ("ORD009","C009","Priya"," Pune","Mobile","Electronics","28000","09-01-2024","Completed"),
    ("ORD010","C010","Suresh","Mumbai","Laptop","Electronics","55000","2024-01-10","Completed"),
    ("ORD010","C010","Suresh","Mumbai","Laptop","Electronics","55000","2024-01-10","Completed"),  # duplicate
    ("ORD011","C011","Meena","Chennai","Tablet","Electronics","31000","2024-01-11","Completed"),
    ("ORD012","C012","Arjun","Delhi","Mobile","Electronics","27000","2024/01/11","Completed"),
    ("ORD013","C013","Nikhil","Bangalore","Laptop","Electronics","60000","2024-01-12","Completed"),
    ("ORD014","C014","Rohit","Mumbai","Mobile","Electronics","invalid_price","2024-01-12","Completed"),
    ("ORD015","C015","Anita","Delhi","Tablet","Electronics","29000","2024-01-13","Completed"),
    ("ORD016","C016","Vikas","Chennai","Laptop","Electronics","52000","2024-01-13","Completed"),
    ("ORD017","C017","Sunita","Mumbai","Mobile","Electronics","33000","2024-01-14","Completed"),
    ("ORD018","C018","Deepak","Bangalore","Laptop","Electronics","58000","2024-01-14","Completed"),
    ("ORD019","C019","Pallavi","Delhi","Mobile","Electronics","26000","2024-01-15","Completed"),
    ("ORD020","C020","Manish","Mumbai","Tablet","Electronics","34000","2024-01-15","Completed")
]
columns=["order id","customer id","customer name","city","product","category","price","order_date","status"]
df=spark.createDataFrame(raw_orders,columns)
df.show()

+--------+-----------+-------------+---------+--------+-------------+-------------+------------+---------+
|order id|customer id|customer name|     city| product|     category|        price|  order_date|   status|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+---------+
|  ORD001|       C001|         Ravi|   Delhi |  Laptop|  Electronics|        45000|  2024-01-05|Completed|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile |  Electronics|        32000|  05/01/2024|Completed|
|  ORD003|       C003|         Aman|Bangalore|  Laptop|  Electronics|        55000|  2024/01/06|Completed|
|  ORD004|       C004|        Pooja|    Delhi|  Tablet| Electronics |             |  2024-01-07|Cancelled|
|  ORD005|       C005|         Neha|  Chennai|  Laptop|  Electronics|        48000|invalid_date|Completed|
|  ORD006|       C006|        Rahul|   Mumbai|  Mobile|  Electronics|         NULL|  2024-01-08|Completed|
|  ORD007|       C007|        Kiran|Bangalore|  Tablet|  Electronics|        30000|  2024-01-08|Completed|
|  ORD008|       C008|         Amit|    Delhi|  Laptop|  electronics|        45000|  2024-01-09|Completed|
|  ORD009|       C009|        Priya|     Pune|  Mobile|  Electronics|        28000|  09-01-2024|Completed|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|Completed|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|Completed|
|  ORD011|       C011|        Meena|  Chennai|  Tablet|  Electronics|        31000|  2024-01-11|Completed|
|  ORD012|       C012|        Arjun|    Delhi|  Mobile|  Electronics|        27000|  2024/01/11|Completed|
|  ORD013|       C013|       Nikhil|Bangalore|  Laptop|  Electronics|        60000|  2024-01-12|Completed|
|  ORD014|       C014|        Rohit|   Mumbai|  Mobile|  Electronics|invalid_price|  2024-01-12|Completed|
|  ORD015|       C015|        Anita|    Delhi|  Tablet|  Electronics|        29000|  2024-01-13|Completed|
|  ORD016|       C016|        Vikas|  Chennai|  Laptop|  Electronics|        52000|  2024-01-13|Completed|
|  ORD017|       C017|       Sunita|   Mumbai|  Mobile|  Electronics|        33000|  2024-01-14|Completed|
|  ORD018|       C018|       Deepak|Bangalore|  Laptop|  Electronics|        58000|  2024-01-14|Completed|
|  ORD019|       C019|      Pallavi|    Delhi|  Mobile|  Electronics|        26000|  2024-01-15|Completed|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+---------+
only showing top 20 rows

In [ ]:
df=df.withColumnRenamed("order id","order_id")\
    .withColumnRenamed("customer id","customer_id")\
    .withColumnRenamed("customer name","customer_name")\
    .withColumnRenamed("order date","order_date")
df.show()

+--------+-----------+-------------+---------+--------+-------------+-------------+------------+---------+
|order_id|customer_id|customer_name|     city| product|     category|        price|  order_date|   status|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+---------+
|  ORD001|       C001|         Ravi|   Delhi |  Laptop|  Electronics|        45000|  2024-01-05|Completed|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile |  Electronics|        32000|  05/01/2024|Completed|
|  ORD003|       C003|         Aman|Bangalore|  Laptop|  Electronics|        55000|  2024/01/06|Completed|
|  ORD004|       C004|        Pooja|    Delhi|  Tablet| Electronics |             |  2024-01-07|Cancelled|
|  ORD005|       C005|         Neha|  Chennai|  Laptop|  Electronics|        48000|invalid_date|Completed|
|  ORD006|       C006|        Rahul|   Mumbai|  Mobile|  Electronics|         NULL|  2024-01-08|Completed|
|  ORD007|       C007|        Kiran|Bangalore|  Tablet|  Electronics|        30000|  2024-01-08|Completed|
|  ORD008|       C008|         Amit|    Delhi|  Laptop|  electronics|        45000|  2024-01-09|Completed|
|  ORD009|       C009|        Priya|     Pune|  Mobile|  Electronics|        28000|  09-01-2024|Completed|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|Completed|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|Completed|
|  ORD011|       C011|        Meena|  Chennai|  Tablet|  Electronics|        31000|  2024-01-11|Completed|
|  ORD012|       C012|        Arjun|    Delhi|  Mobile|  Electronics|        27000|  2024/01/11|Completed|
|  ORD013|       C013|       Nikhil|Bangalore|  Laptop|  Electronics|        60000|  2024-01-12|Completed|
|  ORD014|       C014|        Rohit|   Mumbai|  Mobile|  Electronics|invalid_price|  2024-01-12|Completed|
|  ORD015|       C015|        Anita|    Delhi|  Tablet|  Electronics|        29000|  2024-01-13|Completed|
|  ORD016|       C016|        Vikas|  Chennai|  Laptop|  Electronics|        52000|  2024-01-13|Completed|
|  ORD017|       C017|       Sunita|   Mumbai|  Mobile|  Electronics|        33000|  2024-01-14|Completed|
|  ORD018|       C018|       Deepak|Bangalore|  Laptop|  Electronics|        58000|  2024-01-14|Completed|
|  ORD019|       C019|      Pallavi|    Delhi|  Mobile|  Electronics|        26000|  2024-01-15|Completed|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+---------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F
# Add price_with_tax (18%)
df = df.withColumn("price_with_tax",F.expr("try_cast(price as double)*1.18"))
df.show()

+--------+-----------+-------------+---------+--------+-------------+-------------+------------+---------+--------------+
|order_id|customer_id|customer_name|     city| product|     category|        price|  order_date|   status|price_with_tax|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+---------+--------------+
|  ORD001|       C001|         Ravi|   Delhi |  Laptop|  Electronics|        45000|  2024-01-05|Completed|       53100.0|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile |  Electronics|        32000|  05/01/2024|Completed|       37760.0|
|  ORD003|       C003|         Aman|Bangalore|  Laptop|  Electronics|        55000|  2024/01/06|Completed|       64900.0|
|  ORD004|       C004|        Pooja|    Delhi|  Tablet| Electronics |             |  2024-01-07|Cancelled|          NULL|
|  ORD005|       C005|         Neha|  Chennai|  Laptop|  Electronics|        48000|invalid_date|Completed|       56640.0|
|  ORD006|       C006|        Rahul|   Mumbai|  Mobile|  Electronics|         NULL|  2024-01-08|Completed|          NULL|
|  ORD007|       C007|        Kiran|Bangalore|  Tablet|  Electronics|        30000|  2024-01-08|Completed|       35400.0|
|  ORD008|       C008|         Amit|    Delhi|  Laptop|  electronics|        45000|  2024-01-09|Completed|       53100.0|
|  ORD009|       C009|        Priya|     Pune|  Mobile|  Electronics|        28000|  09-01-2024|Completed|       33040.0|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|Completed|       64900.0|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|Completed|       64900.0|
|  ORD011|       C011|        Meena|  Chennai|  Tablet|  Electronics|        31000|  2024-01-11|Completed|       36580.0|
|  ORD012|       C012|        Arjun|    Delhi|  Mobile|  Electronics|        27000|  2024/01/11|Completed|       31860.0|
|  ORD013|       C013|       Nikhil|Bangalore|  Laptop|  Electronics|        60000|  2024-01-12|Completed|       70800.0|
|  ORD014|       C014|        Rohit|   Mumbai|  Mobile|  Electronics|invalid_price|  2024-01-12|Completed|          NULL|
|  ORD015|       C015|        Anita|    Delhi|  Tablet|  Electronics|        29000|  2024-01-13|Completed|       34220.0|
|  ORD016|       C016|        Vikas|  Chennai|  Laptop|  Electronics|        52000|  2024-01-13|Completed|       61360.0|
|  ORD017|       C017|       Sunita|   Mumbai|  Mobile|  Electronics|        33000|  2024-01-14|Completed|       38940.0|
|  ORD018|       C018|       Deepak|Bangalore|  Laptop|  Electronics|        58000|  2024-01-14|Completed|       68440.0|
|  ORD019|       C019|      Pallavi|    Delhi|  Mobile|  Electronics|        26000|  2024-01-15|Completed|       30680.0|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+---------+--------------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F
df=df.withColumn("price_category",
           F.when(F.expr("try_cast(price as double)")<500,"Low")
          .when((F.expr("try_cast(price as double)")>=500)&(F.expr("try_cast(price as double)")<1500),"Medium")
          .otherwise("High"))
df.show()

+--------+-----------+-------------+---------+--------+-------------+-------------+------------+---------+--------------+--------------+
|order_id|customer_id|customer_name|     city| product|     category|        price|  order_date|   status|price_with_tax|price_category|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+---------+--------------+--------------+
|  ORD001|       C001|         Ravi|   Delhi |  Laptop|  Electronics|        45000|  2024-01-05|Completed|       53100.0|          High|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile |  Electronics|        32000|  05/01/2024|Completed|       37760.0|          High|
|  ORD003|       C003|         Aman|Bangalore|  Laptop|  Electronics|        55000|  2024/01/06|Completed|       64900.0|          High|
|  ORD004|       C004|        Pooja|    Delhi|  Tablet| Electronics |             |  2024-01-07|Cancelled|          NULL|          High|
|  ORD005|       C005|         Neha|  Chennai|  Laptop|  Electronics|        48000|invalid_date|Completed|       56640.0|          High|
|  ORD006|       C006|        Rahul|   Mumbai|  Mobile|  Electronics|         NULL|  2024-01-08|Completed|          NULL|          High|
|  ORD007|       C007|        Kiran|Bangalore|  Tablet|  Electronics|        30000|  2024-01-08|Completed|       35400.0|          High|
|  ORD008|       C008|         Amit|    Delhi|  Laptop|  electronics|        45000|  2024-01-09|Completed|       53100.0|          High|
|  ORD009|       C009|        Priya|     Pune|  Mobile|  Electronics|        28000|  09-01-2024|Completed|       33040.0|          High|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|Completed|       64900.0|          High|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|Completed|       64900.0|          High|
|  ORD011|       C011|        Meena|  Chennai|  Tablet|  Electronics|        31000|  2024-01-11|Completed|       36580.0|          High|
|  ORD012|       C012|        Arjun|    Delhi|  Mobile|  Electronics|        27000|  2024/01/11|Completed|       31860.0|          High|
|  ORD013|       C013|       Nikhil|Bangalore|  Laptop|  Electronics|        60000|  2024-01-12|Completed|       70800.0|          High|
|  ORD014|       C014|        Rohit|   Mumbai|  Mobile|  Electronics|invalid_price|  2024-01-12|Completed|          NULL|          High|
|  ORD015|       C015|        Anita|    Delhi|  Tablet|  Electronics|        29000|  2024-01-13|Completed|       34220.0|          High|
|  ORD016|       C016|        Vikas|  Chennai|  Laptop|  Electronics|        52000|  2024-01-13|Completed|       61360.0|          High|
|  ORD017|       C017|       Sunita|   Mumbai|  Mobile|  Electronics|        33000|  2024-01-14|Completed|       38940.0|          High|
|  ORD018|       C018|       Deepak|Bangalore|  Laptop|  Electronics|        58000|  2024-01-14|Completed|       68440.0|          High|
|  ORD019|       C019|      Pallavi|    Delhi|  Mobile|  Electronics|        26000|  2024-01-15|Completed|       30680.0|          High|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+---------+--------------+--------------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F
df=df.withColumn("city",F.initcap(F.trim(F.col("city"))))\
     .withColumn("product",F.initcap(F.trim(F.col("product"))))\
     .withColumn("category",F.initcap(F.trim(F.col("category"))))
df.show()

+--------+-----------+-------------+---------+-------+-----------+-------------+------------+---------+--------------+--------------+
|order_id|customer_id|customer_name|     city|product|   category|        price|  order_date|   status|price_with_tax|price_category|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+---------+--------------+--------------+
|  ORD001|       C001|         Ravi|    Delhi| Laptop|Electronics|        45000|  2024-01-05|Completed|       53100.0|          High|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile|Electronics|        32000|  05/01/2024|Completed|       37760.0|          High|
|  ORD003|       C003|         Aman|Bangalore| Laptop|Electronics|        55000|  2024/01/06|Completed|       64900.0|          High|
|  ORD004|       C004|        Pooja|    Delhi| Tablet|Electronics|             |  2024-01-07|Cancelled|          NULL|          High|
|  ORD005|       C005|         Neha|  Chennai| Laptop|Electronics|        48000|invalid_date|Completed|       56640.0|          High|
|  ORD006|       C006|        Rahul|   Mumbai| Mobile|Electronics|         NULL|  2024-01-08|Completed|          NULL|          High|
|  ORD007|       C007|        Kiran|Bangalore| Tablet|Electronics|        30000|  2024-01-08|Completed|       35400.0|          High|
|  ORD008|       C008|         Amit|    Delhi| Laptop|Electronics|        45000|  2024-01-09|Completed|       53100.0|          High|
|  ORD009|       C009|        Priya|     Pune| Mobile|Electronics|        28000|  09-01-2024|Completed|       33040.0|          High|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|Completed|       64900.0|          High|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|Completed|       64900.0|          High|
|  ORD011|       C011|        Meena|  Chennai| Tablet|Electronics|        31000|  2024-01-11|Completed|       36580.0|          High|
|  ORD012|       C012|        Arjun|    Delhi| Mobile|Electronics|        27000|  2024/01/11|Completed|       31860.0|          High|
|  ORD013|       C013|       Nikhil|Bangalore| Laptop|Electronics|        60000|  2024-01-12|Completed|       70800.0|          High|
|  ORD014|       C014|        Rohit|   Mumbai| Mobile|Electronics|invalid_price|  2024-01-12|Completed|          NULL|          High|
|  ORD015|       C015|        Anita|    Delhi| Tablet|Electronics|        29000|  2024-01-13|Completed|       34220.0|          High|
|  ORD016|       C016|        Vikas|  Chennai| Laptop|Electronics|        52000|  2024-01-13|Completed|       61360.0|          High|
|  ORD017|       C017|       Sunita|   Mumbai| Mobile|Electronics|        33000|  2024-01-14|Completed|       38940.0|          High|
|  ORD018|       C018|       Deepak|Bangalore| Laptop|Electronics|        58000|  2024-01-14|Completed|       68440.0|          High|
|  ORD019|       C019|      Pallavi|    Delhi| Mobile|Electronics|        26000|  2024-01-15|Completed|       30680.0|          High|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+---------+--------------+--------------+
only showing top 20 rows

In [ ]:
df=df.withColumn("price_num",F.expr("try_cast(regexp_replace(price,'[^0-9]','') as int)"))
df.show()

+--------+-----------+-------------+---------+-------+-----------+-------------+------------+---------+--------------+--------------+---------+
|order_id|customer_id|customer_name|     city|product|   category|        price|  order_date|   status|price_with_tax|price_category|price_num|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+---------+--------------+--------------+---------+
|  ORD001|       C001|         Ravi|    Delhi| Laptop|Electronics|        45000|  2024-01-05|Completed|       53100.0|          High|    45000|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile|Electronics|        32000|  05/01/2024|Completed|       37760.0|          High|    32000|
|  ORD003|       C003|         Aman|Bangalore| Laptop|Electronics|        55000|  2024/01/06|Completed|       64900.0|          High|    55000|
|  ORD004|       C004|        Pooja|    Delhi| Tablet|Electronics|             |  2024-01-07|Cancelled|          NULL|          High|     NULL|
|  ORD005|       C005|         Neha|  Chennai| Laptop|Electronics|        48000|invalid_date|Completed|       56640.0|          High|    48000|
|  ORD006|       C006|        Rahul|   Mumbai| Mobile|Electronics|         NULL|  2024-01-08|Completed|          NULL|          High|     NULL|
|  ORD007|       C007|        Kiran|Bangalore| Tablet|Electronics|        30000|  2024-01-08|Completed|       35400.0|          High|    30000|
|  ORD008|       C008|         Amit|    Delhi| Laptop|Electronics|        45000|  2024-01-09|Completed|       53100.0|          High|    45000|
|  ORD009|       C009|        Priya|     Pune| Mobile|Electronics|        28000|  09-01-2024|Completed|       33040.0|          High|    28000|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|Completed|       64900.0|          High|    55000|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|Completed|       64900.0|          High|    55000|
|  ORD011|       C011|        Meena|  Chennai| Tablet|Electronics|        31000|  2024-01-11|Completed|       36580.0|          High|    31000|
|  ORD012|       C012|        Arjun|    Delhi| Mobile|Electronics|        27000|  2024/01/11|Completed|       31860.0|          High|    27000|
|  ORD013|       C013|       Nikhil|Bangalore| Laptop|Electronics|        60000|  2024-01-12|Completed|       70800.0|          High|    60000|
|  ORD014|       C014|        Rohit|   Mumbai| Mobile|Electronics|invalid_price|  2024-01-12|Completed|          NULL|          High|     NULL|
|  ORD015|       C015|        Anita|    Delhi| Tablet|Electronics|        29000|  2024-01-13|Completed|       34220.0|          High|    29000|
|  ORD016|       C016|        Vikas|  Chennai| Laptop|Electronics|        52000|  2024-01-13|Completed|       61360.0|          High|    52000|
|  ORD017|       C017|       Sunita|   Mumbai| Mobile|Electronics|        33000|  2024-01-14|Completed|       38940.0|          High|    33000|
|  ORD018|       C018|       Deepak|Bangalore| Laptop|Electronics|        58000|  2024-01-14|Completed|       68440.0|          High|    58000|
|  ORD019|       C019|      Pallavi|    Delhi| Mobile|Electronics|        26000|  2024-01-15|Completed|       30680.0|          High|    26000|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+---------+--------------+--------------+---------+
only showing top 20 rows

In [ ]:
df=df.fillna({"price_num":0})
df.show()

+--------+-----------+-------------+---------+-------+-----------+-------------+------------+---------+--------------+--------------+---------+
|order_id|customer_id|customer_name|     city|product|   category|        price|  order_date|   status|price_with_tax|price_category|price_num|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+---------+--------------+--------------+---------+
|  ORD001|       C001|         Ravi|    Delhi| Laptop|Electronics|        45000|  2024-01-05|Completed|       53100.0|          High|    45000|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile|Electronics|        32000|  05/01/2024|Completed|       37760.0|          High|    32000|
|  ORD003|       C003|         Aman|Bangalore| Laptop|Electronics|        55000|  2024/01/06|Completed|       64900.0|          High|    55000|
|  ORD004|       C004|        Pooja|    Delhi| Tablet|Electronics|             |  2024-01-07|Cancelled|          NULL|          High|        0|
|  ORD005|       C005|         Neha|  Chennai| Laptop|Electronics|        48000|invalid_date|Completed|       56640.0|          High|    48000|
|  ORD006|       C006|        Rahul|   Mumbai| Mobile|Electronics|         NULL|  2024-01-08|Completed|          NULL|          High|        0|
|  ORD007|       C007|        Kiran|Bangalore| Tablet|Electronics|        30000|  2024-01-08|Completed|       35400.0|          High|    30000|
|  ORD008|       C008|         Amit|    Delhi| Laptop|Electronics|        45000|  2024-01-09|Completed|       53100.0|          High|    45000|
|  ORD009|       C009|        Priya|     Pune| Mobile|Electronics|        28000|  09-01-2024|Completed|       33040.0|          High|    28000|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|Completed|       64900.0|          High|    55000|
|  ORD010|       C010|       Suresh|   Mumbai| Laptop|Electronics|        55000|  2024-01-10|Completed|       64900.0|          High|    55000|
|  ORD011|       C011|        Meena|  Chennai| Tablet|Electronics|        31000|  2024-01-11|Completed|       36580.0|          High|    31000|
|  ORD012|       C012|        Arjun|    Delhi| Mobile|Electronics|        27000|  2024/01/11|Completed|       31860.0|          High|    27000|
|  ORD013|       C013|       Nikhil|Bangalore| Laptop|Electronics|        60000|  2024-01-12|Completed|       70800.0|          High|    60000|
|  ORD014|       C014|        Rohit|   Mumbai| Mobile|Electronics|invalid_price|  2024-01-12|Completed|          NULL|          High|        0|
|  ORD015|       C015|        Anita|    Delhi| Tablet|Electronics|        29000|  2024-01-13|Completed|       34220.0|          High|    29000|
|  ORD016|       C016|        Vikas|  Chennai| Laptop|Electronics|        52000|  2024-01-13|Completed|       61360.0|          High|    52000|
|  ORD017|       C017|       Sunita|   Mumbai| Mobile|Electronics|        33000|  2024-01-14|Completed|       38940.0|          High|    33000|
|  ORD018|       C018|       Deepak|Bangalore| Laptop|Electronics|        58000|  2024-01-14|Completed|       68440.0|          High|    58000|
|  ORD019|       C019|      Pallavi|    Delhi| Mobile|Electronics|        26000|  2024-01-15|Completed|       30680.0|          High|    26000|
+--------+-----------+-------------+---------+-------+-----------+-------------+------------+---------+--------------+--------------+---------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F

clean = F.regexp_replace(F.trim(F.col("order_date")), r"[./]", "-")

df = df.withColumn(
    "order_dt",
    F.when(clean.rlike(r"^\d{4}-\d{2}-\d{2}$"), F.to_date(clean, "yyyy-MM-dd"))
     .when(clean.rlike(r"^\d{2}-\d{2}-\d{4}$"), F.to_date(clean, "dd-MM-yyyy"))
     .otherwise(F.lit(None).cast("date"))
)

df.select("order_date", "order_dt").show(truncate=False)

DateTimeException: [CANNOT_PARSE_TIMESTAMP] Text '2024/01/11' could not be parsed at index 4. Use `try_to_timestamp` to tolerate invalid input string and return NULL instead. SQLSTATE: 22007

In [ ]:
df=df.dropDuplicates(["order_id"])
df.show()

DateTimeException: [CANNOT_PARSE_TIMESTAMP] Text '2024/01/11' could not be parsed at index 4. Use `try_to_timestamp` to tolerate invalid input string and return NULL instead. SQLSTATE: 22007

In [ ]:
df = df.filter(F.col("order_status") == "Completed")
df.show()

{"ts": "2025-12-22 06:58:03.925", "level": "ERROR", "logger": "DataFrameQueryContextLogger", "msg": "[UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `order_status` cannot be resolved. Did you mean one of the following? [`order_date`, `order_dt`, `order_id`, `status`, `product`]. SQLSTATE: 42703", "context": {"file": "line 1 in cell [53]", "line": "", "fragment": "col", "errorClass": "UNRESOLVED_COLUMN.WITH_SUGGESTION"}, "exception": {"class": "Py4JJavaError", "msg": "An error occurred while calling o2097.filter.\n: org.apache.spark.sql.AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `order_status` cannot be resolved. Did you mean one of the following? [`order_date`, `order_dt`, `order_id`, `status`, `product`]. SQLSTATE: 42703;\n'Filter '`=`('order_status, Completed)\n+- Deduplicate [order_id#147]\n   +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, order_date#713, status#118, price_with_tax#243, price_category#380, price_num#490, CASE WHEN RLIKE(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), ^\\d{4}-\\d{2}-\\d{2}$) THEN to_date(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), Some(yyyy-MM-dd), Some(Etc/UTC), true) WHEN RLIKE(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), ^\\d{2}-\\d{2}-\\d{4}$) THEN to_date(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), Some(dd-MM-yyyy), Some(Etc/UTC), true) ELSE cast(null as date) END AS order_dt#2348]\n      +- Deduplicate [order_id#147]\n         +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, order_date#713, status#118, price_with_tax#243, price_category#380, price_num#490, CASE WHEN RLIKE(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), ^\\d{4}-\\d{2}-\\d{2}$) THEN to_date(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), Some(yyyy-MM-dd), Some(Etc/UTC), true) WHEN RLIKE(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), ^\\d{2}-\\d{2}-\\d{4}$) THEN to_date(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), Some(dd-MM-yyyy), Some(Etc/UTC), true) ELSE cast(null as date) END AS order_dt#1812]\n            +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, order_date#713, status#118, price_with_tax#243, price_category#380, price_num#490, CASE WHEN RLIKE(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), ^\\d{4}-\\d{2}-\\d{2}$) THEN to_date(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), Some(yyyy-MM-dd), Some(Etc/UTC), true) WHEN RLIKE(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), ^\\d{2}-\\d{2}-\\d{4}$) THEN to_date(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), Some(dd-MM-yyyy), Some(Etc/UTC), true) ELSE cast(null as date) END AS order_dt#1698]\n               +- Deduplicate [order_id#147]\n                  +- Deduplicate [order_id#147]\n                     +- Deduplicate [order_id#147]\n                        +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, CASE WHEN cast(order_date#528 as string) LIKE %/% THEN to_date(order_date#528, Some(dd/MM/yyyy), Some(Etc/UTC), true) ELSE to_date(order_date#528, Some(yyyy-MM-dd), Some(Etc/UTC), true) END AS order_date#713, status#118, price_with_tax#243, price_category#380, price_num#490]\n                           +- Deduplicate [order_id#147]\n                              +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, to_date(order_date#117, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date#528, status#118, price_with_tax#243, price_category#380, price_num#490]\n                                 +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, order_date#117, status#118, price_with_tax#243, price_category#380, coalesce(price_num#452, cast(0 as int)) AS price_num#490]\n                                    +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, order_date#117, status#118, price_with_tax#243, price_category#380, try_cast(regexp_replace(price#116, [^0-9], , 1) as int) AS price_num#452]\n                                       +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, initcap(trim(category#115, None)) AS category#417, price#116, order_date#117, status#118, price_with_tax#243, price_category#380]\n                                          +- Project [order_id#147, customer_id#148, customer_name#149, city#415, initcap(trim(product#114, None)) AS product#416, category#115, price#116, order_date#117, status#118, price_with_tax#243, price_category#380]\n                                             +- Project [order_id#147, customer_id#148, customer_name#149, initcap(trim(city#113, None)) AS city#415, product#114, category#115, price#116, order_date#117, status#118, price_with_tax#243, price_category#380]\n                                                +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, price_with_tax#243, CASE WHEN (try_cast(price#116 as double) < cast(500 as double)) THEN Low WHEN ((try_cast(price#116 as double) >= cast(500 as double)) AND (try_cast(price#116 as double) < cast(1500 as double))) THEN Medium ELSE High END AS price_category#380]\n                                                   +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, price_with_tax#243, CASE WHEN (cast(price#116 as bigint) < cast(500 as bigint)) THEN Low WHEN ((cast(price#116 as bigint) >= cast(500 as bigint)) AND (cast(price#116 as bigint) < cast(1500 as bigint))) THEN Medium ELSE High END AS price_category#345]\n                                                      +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, price_with_tax#243, CASE WHEN (cast(price#116 as bigint) < cast(500 as bigint)) THEN Low WHEN ((cast(price#116 as bigint) >= cast(500 as bigint)) AND (cast(price#116 as bigint) < cast(1500 as bigint))) THEN Medium ELSE High END AS price_category#310]\n                                                         +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, price_with_tax#243, CASE WHEN (cast(price#116 as bigint) < cast(500 as bigint)) THEN Low WHEN ((cast(price#116 as bigint) >= cast(500 as bigint)) AND (cast(price#116 as bigint) < cast(1500 as bigint))) THEN Medium ELSE High END AS price_category#275]\n                                                            +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, (try_cast(price#116 as double) * cast(1.18 as double)) AS price_with_tax#243]\n                                                               +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, (cast(price#116 as double) * 1.18) AS price_with_tax#211]\n                                                                  +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, CASE WHEN isnotnull(price#116) THEN (cast(price#116 as double) * 1.18) ELSE cast(null as double) END AS price_with_tax#179]\n                                                                     +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, CASE WHEN isnotnull(price#116) THEN (cast(price#116 as double) * 1.18) ELSE cast(null as double) END AS price_with_tax#178]\n                                                                        +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118]\n                                                                           +- Project [order_id#147, customer_id#148, customer name#112 AS customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118]\n                                                                              +- Project [order_id#147, customer id#111 AS customer_id#148, customer name#112, city#113, product#114, category#115, price#116, order_date#117, status#118]\n                                                                                 +- Project [order id#110 AS order_id#147, customer id#111, customer name#112, city#113, product#114, category#115, price#116, order_date#117, status#118]\n                                                                                    +- LogicalRDD [order id#110, customer id#111, customer name#112, city#113, product#114, category#115, price#116, order_date#117, status#118], false\n\n\tat org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:401)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:169)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7(CheckAnalysis.scala:404)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7$adapted(CheckAnalysis.scala:402)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\tat scala.collection.IterableOnceOps.foreach(IterableOnce.scala:619)\n\tat scala.collection.IterableOnceOps.foreach$(IterableOnce.scala:617)\n\tat scala.collection.AbstractIterable.foreach(Iterable.scala:935)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6(CheckAnalysis.scala:402)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6$adapted(CheckAnalysis.scala:402)\n\tat scala.collection.immutable.List.foreach(List.scala:334)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:402)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:284)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:284)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:255)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:299)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:244)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:231)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:299)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:192)\n\tat scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:192)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)\n\tat org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)\n\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\tat org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)\n\tat scala.util.Try$.apply(Try.scala:217)\n\tat org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)\n\tat org.apache.spark.util.Utils$.getTryWithCallerStacktrace(Utils.scala:1439)\n\tat org.apache.spark.util.LazyTry.get(LazyTry.scala:58)\n\tat org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:121)\n\tat org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:80)\n\tat org.apache.spark.sql.classic.Dataset.<init>(Dataset.scala:250)\n\tat org.apache.spark.sql.classic.Dataset.<init>(Dataset.scala:262)\n\tat org.apache.spark.sql.classic.Dataset$.apply(Dataset.scala:99)\n\tat org.apache.spark.sql.classic.Dataset.withSameTypedPlan(Dataset.scala:2273)\n\tat org.apache.spark.sql.classic.Dataset.filter(Dataset.scala:926)\n\tat org.apache.spark.sql.classic.Dataset.filter(Dataset.scala:232)\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)\n\tat java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\n\tat java.base/java.lang.reflect.Method.invoke(Method.java:569)\n\tat py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)\n\tat py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)\n\tat py4j.Gateway.invoke(Gateway.java:282)\n\tat py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)\n\tat py4j.commands.CallCommand.execute(CallCommand.java:79)\n\tat py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)\n\tat py4j.ClientServerConnection.run(ClientServerConnection.java:108)\n\tat java.base/java.lang.Thread.run(Thread.java:840)\n\tSuppressed: org.apache.spark.util.Utils$OriginalTryStackTraceException: Full stacktrace of original doTryWithCallerStacktrace caller\n\t\tat org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:401)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:169)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7(CheckAnalysis.scala:404)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7$adapted(CheckAnalysis.scala:402)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\t\tat scala.collection.IterableOnceOps.foreach(IterableOnce.scala:619)\n\t\tat scala.collection.IterableOnceOps.foreach$(IterableOnce.scala:617)\n\t\tat scala.collection.AbstractIterable.foreach(Iterable.scala:935)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6(CheckAnalysis.scala:402)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6$adapted(CheckAnalysis.scala:402)\n\t\tat scala.collection.immutable.List.foreach(List.scala:334)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:402)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:284)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:284)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:255)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:299)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:244)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:231)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:299)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:192)\n\t\tat scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)\n\t\tat org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:192)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)\n\t\tat org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)\n\t\tat org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)\n\t\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)\n\t\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\t\tat org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)\n\t\tat scala.util.Try$.apply(Try.scala:217)\n\t\tat org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)\n\t\tat org.apache.spark.util.LazyTry.tryT$lzycompute(LazyTry.scala:46)\n\t\tat org.apache.spark.util.LazyTry.tryT(LazyTry.scala:46)\n\t\t... 21 more\n", "stacktrace": [{"class": null, "method": "deco", "file": "/usr/local/lib/python3.12/dist-packages/pyspark/errors/exceptions/captured.py", "line":

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `order_status` cannot be resolved. Did you mean one of the following? [`order_date`, `order_dt`, `order_id`, `status`, `product`]. SQLSTATE: 42703;
'Filter '`=`('order_status, Completed)
+- Deduplicate [order_id#147]
   +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, order_date#713, status#118, price_with_tax#243, price_category#380, price_num#490, CASE WHEN RLIKE(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), ^\d{4}-\d{2}-\d{2}$) THEN to_date(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), Some(yyyy-MM-dd), Some(Etc/UTC), true) WHEN RLIKE(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), ^\d{2}-\d{2}-\d{4}$) THEN to_date(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), Some(dd-MM-yyyy), Some(Etc/UTC), true) ELSE cast(null as date) END AS order_dt#2348]
      +- Deduplicate [order_id#147]
         +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, order_date#713, status#118, price_with_tax#243, price_category#380, price_num#490, CASE WHEN RLIKE(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), ^\d{4}-\d{2}-\d{2}$) THEN to_date(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), Some(yyyy-MM-dd), Some(Etc/UTC), true) WHEN RLIKE(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), ^\d{2}-\d{2}-\d{4}$) THEN to_date(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), Some(dd-MM-yyyy), Some(Etc/UTC), true) ELSE cast(null as date) END AS order_dt#1812]
            +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, order_date#713, status#118, price_with_tax#243, price_category#380, price_num#490, CASE WHEN RLIKE(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), ^\d{4}-\d{2}-\d{2}$) THEN to_date(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), Some(yyyy-MM-dd), Some(Etc/UTC), true) WHEN RLIKE(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), ^\d{2}-\d{2}-\d{4}$) THEN to_date(regexp_replace(trim(cast(order_date#713 as string), None), [./], -, 1), Some(dd-MM-yyyy), Some(Etc/UTC), true) ELSE cast(null as date) END AS order_dt#1698]
               +- Deduplicate [order_id#147]
                  +- Deduplicate [order_id#147]
                     +- Deduplicate [order_id#147]
                        +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, CASE WHEN cast(order_date#528 as string) LIKE %/% THEN to_date(order_date#528, Some(dd/MM/yyyy), Some(Etc/UTC), true) ELSE to_date(order_date#528, Some(yyyy-MM-dd), Some(Etc/UTC), true) END AS order_date#713, status#118, price_with_tax#243, price_category#380, price_num#490]
                           +- Deduplicate [order_id#147]
                              +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, to_date(order_date#117, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date#528, status#118, price_with_tax#243, price_category#380, price_num#490]
                                 +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, order_date#117, status#118, price_with_tax#243, price_category#380, coalesce(price_num#452, cast(0 as int)) AS price_num#490]
                                    +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, category#417, price#116, order_date#117, status#118, price_with_tax#243, price_category#380, try_cast(regexp_replace(price#116, [^0-9], , 1) as int) AS price_num#452]
                                       +- Project [order_id#147, customer_id#148, customer_name#149, city#415, product#416, initcap(trim(category#115, None)) AS category#417, price#116, order_date#117, status#118, price_with_tax#243, price_category#380]
                                          +- Project [order_id#147, customer_id#148, customer_name#149, city#415, initcap(trim(product#114, None)) AS product#416, category#115, price#116, order_date#117, status#118, price_with_tax#243, price_category#380]
                                             +- Project [order_id#147, customer_id#148, customer_name#149, initcap(trim(city#113, None)) AS city#415, product#114, category#115, price#116, order_date#117, status#118, price_with_tax#243, price_category#380]
                                                +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, price_with_tax#243, CASE WHEN (try_cast(price#116 as double) < cast(500 as double)) THEN Low WHEN ((try_cast(price#116 as double) >= cast(500 as double)) AND (try_cast(price#116 as double) < cast(1500 as double))) THEN Medium ELSE High END AS price_category#380]
                                                   +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, price_with_tax#243, CASE WHEN (cast(price#116 as bigint) < cast(500 as bigint)) THEN Low WHEN ((cast(price#116 as bigint) >= cast(500 as bigint)) AND (cast(price#116 as bigint) < cast(1500 as bigint))) THEN Medium ELSE High END AS price_category#345]
                                                      +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, price_with_tax#243, CASE WHEN (cast(price#116 as bigint) < cast(500 as bigint)) THEN Low WHEN ((cast(price#116 as bigint) >= cast(500 as bigint)) AND (cast(price#116 as bigint) < cast(1500 as bigint))) THEN Medium ELSE High END AS price_category#310]
                                                         +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, price_with_tax#243, CASE WHEN (cast(price#116 as bigint) < cast(500 as bigint)) THEN Low WHEN ((cast(price#116 as bigint) >= cast(500 as bigint)) AND (cast(price#116 as bigint) < cast(1500 as bigint))) THEN Medium ELSE High END AS price_category#275]
                                                            +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, (try_cast(price#116 as double) * cast(1.18 as double)) AS price_with_tax#243]
                                                               +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, (cast(price#116 as double) * 1.18) AS price_with_tax#211]
                                                                  +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, CASE WHEN isnotnull(price#116) THEN (cast(price#116 as double) * 1.18) ELSE cast(null as double) END AS price_with_tax#179]
                                                                     +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118, CASE WHEN isnotnull(price#116) THEN (cast(price#116 as double) * 1.18) ELSE cast(null as double) END AS price_with_tax#178]
                                                                        +- Project [order_id#147, customer_id#148, customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118]
                                                                           +- Project [order_id#147, customer_id#148, customer name#112 AS customer_name#149, city#113, product#114, category#115, price#116, order_date#117, status#118]
                                                                              +- Project [order_id#147, customer id#111 AS customer_id#148, customer name#112, city#113, product#114, category#115, price#116, order_date#117, status#118]
                                                                                 +- Project [order id#110 AS order_id#147, customer id#111, customer name#112, city#113, product#114, category#115, price#116, order_date#117, status#118]
                                                                                    +- LogicalRDD [order id#110, customer id#111, customer name#112, city#113, product#114, category#115, price#116, order_date#117, status#118], false