In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder\
    .appName("Read CSV Example")\
    .getOrCreate()

In [ ]:
# Load CSV without schema inference
df = spark.read.option("header", "true").option("inferSchema", "false").csv("orders.csv")

In [ ]:
df.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- status: string (nullable = true)

In [ ]:
print("Total Records:",df.count())

Total Records: 300000

In [ ]:
df.show(5)

+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
|   order_id|customer_id|       city|   category|    product| amount|order_date|   status|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
|ORD00000000|    C000000| hyderabad |   grocery |       Oil |invalid|01/01/2024|Cancelled|
|ORD00000001|    C000001|       Pune|    Grocery|      Sugar|  35430|2024-01-02|Completed|
|ORD00000002|    C000002|       Pune|Electronics|     Mobile|  65358|2024-01-03|Completed|
|ORD00000003|    C000003|  Bangalore|Electronics|     Laptop|   5558|2024-01-04|Completed|
|ORD00000004|    C000004|       Pune|       Home|AirPurifier|  33659|2024-01-05|Completed|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import trim,initcap,regexp_replace,col,to_date,when
# Trim and proper case
df = df.withColumn("city", initcap(trim(col("city")))) \
       .withColumn("category", initcap(trim(col("category")))) \
       .withColumn("product", initcap(trim(col("product"))))

In [ ]:
# Clean amount
df = df.withColumn("amount_clean", regexp_replace(col("amount"), ",", "")) \
       .withColumn("amount_clean", when(col("amount_clean").rlike("^[0-9]+$"), col("amount_clean")).otherwise(None).cast("int"))

In [ ]:
from pyspark.sql.functions import to_date, coalesce, col
df=df.withColumn("order_date_clean",
                 coalesce(to_date(col("order_date"),"yyyy-MM-dd"),
                          to_date(col("order_date"),"dd-MM-yyyy"),
                          to_date(col("order_date"),"yyyy/MM/dd"),
                          to_date(col("order_date"),"dd/MM/yyyy")))

Data validation

In [ ]:
df.filter(col("amount_clean").isNull()).count()

23905

In [ ]:
df.filter(col("order_data_clean").isNull()).count()

In [ ]:
#duplicate orders
df.groupBy("order_id").count().filter("count>1")

DataFrame[order_id: string, count: bigint]

In [ ]:
df=df.dropDuplicates(["order_id"])

In [ ]:
#filter completed orders
df=df.filter(col("status")=="Completed")

In [ ]:
#performance check
df.rdd.getNumPartitions()

2

In [ ]:
#revenue per city
df.groupBy("city")\
.sum("amount_clean")\
.explain(True)

== Parsed Logical Plan ==
'Aggregate ['city], ['city, unresolvedalias('sum(amount_clean#75))]
+- Filter (status#24 = Completed)
   +- Deduplicate [order_id#17]
      +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, coalesce(to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true), to_date(order_date#23, Some(dd-MM-yyyy), Some(Etc/UTC), true), to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true)) AS order_date_clean#112]
         +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#110) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) ELSE order_date_clean#110 END AS order_date_clean#111]
            +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#109) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) ELSE order_date_clean#109 END AS order_date_clean#110]
               +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#109]
                  +- Filter (status#24 = Completed)
                     +- Deduplicate [order_id#17]
                        +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#77) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) ELSE order_date_clean#77 END AS order_date_clean#78]
                           +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#76) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) ELSE order_date_clean#76 END AS order_date_clean#77]
                              +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#76]
                                 +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, cast(CASE WHEN RLIKE(amount_clean#74, ^[0-9]+$) THEN amount_clean#74 ELSE cast(null as string) END as int) AS amount_clean#75]
                                    +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, regexp_replace(amount#22, ,, , 1) AS amount_clean#74]
                                       +- Project [order_id#17, customer_id#18, city#71, category#72, initcap(trim(product#21, None)) AS product#73, amount#22, order_date#23, status#24]
                                          +- Project [order_id#17, customer_id#18, city#71, initcap(trim(category#20, None)) AS category#72, product#21, amount#22, order_date#23, status#24]
                                             +- Project [order_id#17, customer_id#18, initcap(trim(city#19, None)) AS city#71, category#20, product#21, amount#22, order_date#23, status#24]
                                                +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Analyzed Logical Plan ==
city: string, sum(amount_clean): bigint
Aggregate [city#71], [city#71, sum(amount_clean#75) AS sum(amount_clean)#518L]
+- Filter (status#24 = Completed)
   +- Deduplicate [order_id#17]
      +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, coalesce(to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true), to_date(order_date#23, Some(dd-MM-yyyy), Some(Etc/UTC), true), to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true)) AS order_date_clean#112]
         +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#110) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) ELSE order_date_clean#110 END AS order_date_clean#111]
            +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#109) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) ELSE order_date_clean#109 END AS order_date_clean#110]
               +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#109]
                  +- Filter (status#24 = Completed)
                     +- Deduplicate [order_id#17]
                        +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#77) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) ELSE order_date_clean#77 END AS order_date_clean#78]
                           +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#76) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) ELSE order_date_clean#76 END AS order_date_clean#77]
                              +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#76]
                                 +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, cast(CASE WHEN RLIKE(amount_clean#74, ^[0-9]+$) THEN amount_clean#74 ELSE cast(null as string) END as int) AS amount_clean#75]
                                    +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, regexp_replace(amount#22, ,, , 1) AS amount_clean#74]
                                       +- Project [order_id#17, customer_id#18, city#71, category#72, initcap(trim(product#21, None)) AS product#73, amount#22, order_date#23, status#24]
                                          +- Project [order_id#17, customer_id#18, city#71, initcap(trim(category#20, None)) AS category#72, product#21, amount#22, order_date#23, status#24]
                                             +- Project [order_id#17, customer_id#18, initcap(trim(city#19, None)) AS city#71, category#20, product#21, amount#22, order_date#23, status#24]
                                                +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Optimized Logical Plan ==
Aggregate [city#540], [city#540, sum(amount_clean#552) AS sum(amount_clean)#518L]
+- Project [city#540, amount_clean#552]
   +- Filter (isnotnull(status#550) AND (status#550 = Completed))
      +- Aggregate [order_id#17], [first(city#522, false) AS city#540, first(status#532, false) AS status#550, first(amount_clean#534, false) AS amount_clean#552]
         +- Filter (isnotnull(status#532) AND (status#532 = Completed))
            +- Aggregate [order_id#17], [order_id#17, first(city#71, false) AS city#522, first(status#24, false) AS status#532, first(amount_clean#75, false) AS amount_clean#534]
               +- Project [order_id#17, city#71, status#24, CASE WHEN RLIKE(amount_clean#74, ^[0-9]+$) THEN cast(amount_clean#74 as int) END AS amount_clean#75]
                  +- Project [order_id#17, initcap(trim(city#19, None)) AS city#71, status#24, regexp_replace(amount#22, ,, , 1) AS amount_clean#74]
                     +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[city#540], functions=[sum(amount_clean#552)], output=[city#540, sum(amount_clean)#518L])
   +- Exchange hashpartitioning(city#540, 200), ENSURE_REQUIREMENTS, [plan_id=908]
      +- HashAggregate(keys=[city#540], functions=[partial_sum(amount_clean#552)], output=[city#540, sum#556L])
         +- Project [city#540, amount_clean#552]
            +- Filter (isnotnull(status#550) AND (status#550 = Completed))
               +- SortAggregate(key=[order_id#17], functions=[first(city#522, false), first(status#532, false), first(amount_clean#534, false)], output=[city#540, status#550, amount_clean#552])
                  +- SortAggregate(key=[order_id#17], functions=[partial_first(city#522, false), partial_first(status#532, false), partial_first(amount_clean#534, false)], output=[order_id#17, first#563, valueSet#564, first#565, valueSet#566, first#567, valueSet#568])
                     +- Filter (isnotnull(status#532) AND (status#532 = Completed))
                        +- SortAggregate(key=[order_id#17], functions=[first(city#71, false), first(status#24, false), first(amount_clean#75, false)], output=[order_id#17, city#522, status#532, amount_clean#534])
                           +- Sort [order_id#17 ASC NULLS FIRST], false, 0
                              +- Exchange hashpartitioning(order_id#17, 200), ENSURE_REQUIREMENTS, [plan_id=898]
                                 +- SortAggregate(key=[order_id#17], functions=[partial_first(city#71, false), partial_first(status#24, false), partial_first(amount_clean#75, false)], output=[order_id#17, first#575, valueSet#576, first#577, valueSet#578, first#579, valueSet#580])
                                    +- Sort [order_id#17 ASC NULLS FIRST], false, 0
                                       +- Project [order_id#17, city#71, status#24, CASE WHEN RLIKE(amount_clean#74, ^[0-9]+$) THEN cast(amount_clean#74 as int) END AS amount_clean#75]
                                          +- Project [order_id#17, initcap(trim(city#19, None)) AS city#71, status#24, regexp_replace(amount#22, ,, , 1) AS amount_clean#74]
                                             +- FileScan csv [order_id#17,city#19,amount#22,status#24] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/orders.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,city:string,amount:string,status:string>

In [ ]:
#repartition
df=df.repartition("city")

In [ ]:

#analytics
#total revenue per city
df.groupBy("city").sum("amount_clean").show()
#total revenue per category
df.groupBy("category").sum("amount_clean").show()
#average order value
df.groupBy("city").avg("amount_clean").show()
#Top 10 products
df.groupBy("product").sum("amount_clean")\
.orderBy("sum(amount_clean)",ascending=False)\
.show(10)

+---------+-----------------+
|     city|sum(amount_clean)|
+---------+-----------------+
|Bangalore|       1628527093|
|  Chennai|       1629865247|
|   Mumbai|       1625518096|
|  Kolkata|       1624300497|
|     Pune|       1646196535|
|    Delhi|       1639639916|
|Hyderabad|       1642443340|
+---------+-----------------+

+-----------+-----------------+
|   category|sum(amount_clean)|
+-----------+-----------------+
|       Home|       2868467576|
|    Fashion|       2834182172|
|    Grocery|       2866272106|
|Electronics|       2867568870|
+-----------+-----------------+

+---------+------------------+
|     city| avg(amount_clean)|
+---------+------------------+
|Bangalore|44098.867908689645|
|  Chennai| 43628.27900315863|
|   Mumbai| 43723.75651612556|
|  Kolkata|43709.816662630175|
|     Pune|43930.204013556424|
|    Delhi| 43817.20780331374|
|Hyderabad| 43708.74045293664|
+---------+------------------+

+-----------+-----------------+
|    product|sum(amount_clean)|
+-----------+-----------------+
|        Oil|        963572869|
|     Laptop|        962496295|
|     Tablet|        960719999|
|     Vacuum|        959149427|
|      Mixer|        957140026|
|       Rice|        954494237|
|Airpurifier|        952178123|
|      Jeans|        951286127|
|      Sugar|        948205000|
|      Shoes|        946799102|
+-----------+-----------------+
only showing top 10 rows

In [ ]:
#window function
from pyspark.sql.window import Window
from pyspark.sql.functions import rank, col

city_revenue=df.groupBy("city").sum("amount_clean")
w=Window.orderBy(col("sum(amount_clean)").desc())
city_revenue.withColumn("rank",rank().over(w))

DataFrame[city: string, sum(amount_clean): bigint, rank: int]

In [ ]:
#Broadcast join
city_data=[
    ("Delhi","North"),("Mumbai","West"),("Bangalore","South"),
    ("Hyderabad","South"),("Pune","West"),
    ("Chennai","South"),("Kolkata","east")
]
city_df=spark.createDataFrame(city_data,["city","region"])
from pyspark.sql.functions import broadcast
df.join(broadcast(city_df),"city","left").show()

+---------+-----------+-----------+-----------+-----------+-------+----------+---------+------------+----------------+------+
|     city|   order_id|customer_id|   category|    product| amount|order_date|   status|amount_clean|order_date_clean|region|
+---------+-----------+-----------+-----------+-----------+-------+----------+---------+------------+----------------+------+
|Bangalore|ORD00000008|    C000008|    Fashion|      Jeans|  10563|2024-01-09|Completed|       10563|      2024-01-09| South|
|Bangalore|ORD00000010|    C000010|    Grocery|      Sugar|  66576|2024-01-11|Completed|       66576|      2024-01-11| South|
|Bangalore|ORD00000012|    C000012|    Grocery|      Sugar|  84768|2024-01-13|Completed|       84768|      2024-01-13| South|
|Bangalore|ORD00000017|    C000017|    Grocery|        Oil|  69582|2024-01-18|Completed|       69582|      2024-01-18| South|
|Bangalore|ORD00000024|    C000024|       Home|      Mixer|  18082|2024-01-25|Completed|       18082|      2024-01-25| South|
|Bangalore|ORD00000025|    C000025|       Home|Airpurifier|  58248|2024-01-26|Completed|       58248|      2024-01-26| South|
|Bangalore|ORD00000114|    C000114|       Home|Airpurifier|invalid|2024-02-24|Completed|        NULL|      2024-02-24| South|
|Bangalore|ORD00000116|    C000116|    Grocery|      Sugar|   NULL|2024-02-26|Completed|        NULL|      2024-02-26| South|
|Bangalore|ORD00000124|    C000124|    Grocery|      Sugar|  54296|2024-01-05|Completed|       54296|      2024-01-05| South|
|Bangalore|ORD00000159|    C000159|Electronics|     Tablet|  89397|2024-02-09|Completed|       89397|      2024-02-09| South|
|Bangalore|ORD00000161|    C000161|Electronics|     Mobile| 12,000|2024-02-11|Completed|       12000|      2024-02-11| South|
|Bangalore|ORD00000174|    C000174|    Grocery|        Oil|   NULL|2024-02-24|Completed|        NULL|      2024-02-24| South|
|Bangalore|ORD00000196|    C000196|       Home|     Vacuum|  70321|2024-01-17|Completed|       70321|      2024-01-17| South|
|Bangalore|ORD00000201|    C000201|Electronics|     Mobile|  27502|2024-01-22|Completed|       27502|      2024-01-22| South|
|Bangalore|ORD00000212|    C000212|Electronics|     Mobile|  59529|2024-02-02|Completed|       59529|      2024-02-02| South|
|Bangalore|ORD00000215|    C000215|       Home|      Mixer|  37102|2024-02-05|Completed|       37102|      2024-02-05| South|
|Bangalore|ORD00000223|    C000223|       Home|      Mixer|  28478|2024-02-13|Completed|       28478|      2024-02-13| South|
|Bangalore|ORD00000237|    C000237|Electronics|     Laptop|  72945|2024-02-27|Completed|       72945|      2024-02-27| South|
|Bangalore|ORD00000239|    C000239|Electronics|     Tablet|  32659|2024-02-29|Completed|       32659|      2024-02-29| South|
|Bangalore|ORD00000241|    C000241|Electronics|     Tablet|  26022|2024-01-02|Completed|       26022|      2024-01-02| South|
+---------+-----------+-----------+-----------+-----------+-------+----------+---------+------------+----------------+------+
only showing top 20 rows

In [ ]:
df.explain(True)

== Parsed Logical Plan ==
'Project [unresolvedstarwithcolumns(order_date_clean, 'coalesce('to_date('order_date, yyyy-MM-dd), 'to_date('order_date, dd-MM-yyyy), 'to_date('order_date, yyyy/MM/dd), 'to_date('order_date, dd/MM/yyyy)), None)]
+- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, coalesce(to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true), to_date(order_date#23, Some(dd-MM-yyyy), Some(Etc/UTC), true), to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true), to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true)) AS order_date_clean#2618]
   +- RepartitionByExpression [city#71]
      +- Filter (status#24 = Completed)
         +- Deduplicate [order_id#17]
            +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, coalesce(to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true), to_date(order_date#23, Some(dd-MM-yyyy), Some(Etc/UTC), true), to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true)) AS order_date_clean#112]
               +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#110) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) ELSE order_date_clean#110 END AS order_date_clean#111]
                  +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#109) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) ELSE order_date_clean#109 END AS order_date_clean#110]
                     +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#109]
                        +- Filter (status#24 = Completed)
                           +- Deduplicate [order_id#17]
                              +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#77) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) ELSE order_date_clean#77 END AS order_date_clean#78]
                                 +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#76) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) ELSE order_date_clean#76 END AS order_date_clean#77]
                                    +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#76]
                                       +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, cast(CASE WHEN RLIKE(amount_clean#74, ^[0-9]+$) THEN amount_clean#74 ELSE cast(null as string) END as int) AS amount_clean#75]
                                          +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, regexp_replace(amount#22, ,, , 1) AS amount_clean#74]
                                             +- Project [order_id#17, customer_id#18, city#71, category#72, initcap(trim(product#21, None)) AS product#73, amount#22, order_date#23, status#24]
                                                +- Project [order_id#17, customer_id#18, city#71, initcap(trim(category#20, None)) AS category#72, product#21, amount#22, order_date#23, status#24]
                                                   +- Project [order_id#17, customer_id#18, initcap(trim(city#19, None)) AS city#71, category#20, product#21, amount#22, order_date#23, status#24]
                                                      +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Analyzed Logical Plan ==
order_id: string, customer_id: string, city: string, category: string, product: string, amount: string, order_date: string, status: string, amount_clean: int, order_date_clean: date
Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, coalesce(to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true), to_date(order_date#23, Some(dd-MM-yyyy), Some(Etc/UTC), true), to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true), to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true)) AS order_date_clean#2619]
+- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, coalesce(to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true), to_date(order_date#23, Some(dd-MM-yyyy), Some(Etc/UTC), true), to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true), to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true)) AS order_date_clean#2618]
   +- RepartitionByExpression [city#71]
      +- Filter (status#24 = Completed)
         +- Deduplicate [order_id#17]
            +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, coalesce(to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true), to_date(order_date#23, Some(dd-MM-yyyy), Some(Etc/UTC), true), to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true)) AS order_date_clean#112]
               +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#110) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) ELSE order_date_clean#110 END AS order_date_clean#111]
                  +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#109) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) ELSE order_date_clean#109 END AS order_date_clean#110]
                     +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#109]
                        +- Filter (status#24 = Completed)
                           +- Deduplicate [order_id#17]
                              +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#77) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) ELSE order_date_clean#77 END AS order_date_clean#78]
                                 +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, CASE WHEN isnull(order_date_clean#76) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) ELSE order_date_clean#76 END AS order_date_clean#77]
                                    +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, amount_clean#75, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#76]
                                       +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, cast(CASE WHEN RLIKE(amount_clean#74, ^[0-9]+$) THEN amount_clean#74 ELSE cast(null as string) END as int) AS amount_clean#75]
                                          +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, regexp_replace(amount#22, ,, , 1) AS amount_clean#74]
                                             +- Project [order_id#17, customer_id#18, city#71, category#72, initcap(trim(product#21, None)) AS product#73, amount#22, order_date#23, status#24]
                                                +- Project [order_id#17, customer_id#18, city#71, initcap(trim(category#20, None)) AS category#72, product#21, amount#22, order_date#23, status#24]
                                                   +- Project [order_id#17, customer_id#18, initcap(trim(city#19, None)) AS city#71, category#20, product#21, amount#22, order_date#23, status#24]
                                                      +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Optimized Logical Plan ==
Project [order_id#17, customer_id#2927, city#2929, category#2931, product#2933, amount#2935, order_date#2937, status#2939, amount_clean#2941, coalesce(cast(gettimestamp(order_date#2937, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), true) as date), cast(gettimestamp(order_date#2937, dd-MM-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), true) as date), cast(gettimestamp(order_date#2937, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), true) as date), cast(gettimestamp(order_date#2937, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), true) as date)) AS order_date_clean#2619]
+- RepartitionByExpression [city#2929]
   +- Filter (isnotnull(status#2939) AND (status#2939 = Completed))
      +- Aggregate [order_id#17], [order_id#17, first(customer_id#2909, false) AS customer_id#2927, first(city#2911, false) AS city#2929, first(category#2913, false) AS category#2931, first(product#2915, false) AS product#2933, first(amount#2917, false) AS amount#2935, first(order_date#2919, false) AS order_date#2937, first(status#2921, false) AS status#2939, first(amount_clean#2923, false) AS amount_clean#2941]
         +- Filter (isnotnull(status#2921) AND (status#2921 = Completed))
            +- Aggregate [order_id#17], [order_id#17, first(customer_id#18, false) AS customer_id#2909, first(city#71, false) AS city#2911, first(category#72, false) AS category#2913, first(product#73, false) AS product#2915, first(amount#22, false) AS amount#2917, first(order_date#23, false) AS order_date#2919, first(status#24, false) AS status#2921, first(amount_clean#75, false) AS amount_clean#2923]
               +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, CASE WHEN RLIKE(amount_clean#74, ^[0-9]+$) THEN cast(amount_clean#74 as int) END AS amount_clean#75]
                  +- Project [order_id#17, customer_id#18, initcap(trim(city#19, None)) AS city#71, initcap(trim(category#20, None)) AS category#72, initcap(trim(product#21, None)) AS product#73, amount#22, order_date#23, status#24, regexp_replace(amount#22, ,, , 1) AS amount_clean#74]
                     +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [order_id#17, customer_id#2927, city#2929, category#2931, product#2933, amount#2935, order_date#2937, status#2939, amount_clean#2941, coalesce(cast(gettimestamp(order_date#2937, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), true) as date), cast(gettimestamp(order_date#2937, dd-MM-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), true) as date), cast(gettimestamp(order_date#2937, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), true) as date), cast(gettimestamp(order_date#2937, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), true) as date)) AS order_date_clean#2619]
   +- Exchange hashpartitioning(city#2929, 200), REPARTITION_BY_COL, [plan_id=4565]
      +- Filter (isnotnull(status#2939) AND (status#2939 = Completed))
         +- SortAggregate(key=[order_id#17], functions=[first(customer_id#2909, false), first(city#2911, false), first(category#2913, false), first(product#2915, false), first(amount#2917, false), first(order_date#2919, false), first(status#2921, false), first(amount_clean#2923, false)], output=[order_id#17, customer_id#2927, city#2929, category#2931, product#2933, amount#2935, order_date#2937, status#2939, amount_clean#2941])
            +- SortAggregate(key=[order_id#17], functions=[partial_first(customer_id#2909, false), partial_first(city#2911, false), partial_first(category#2913, false), partial_first(product#2915, false), partial_first(amount#2917, false), partial_first(order_date#2919, false), partial_first(status#2921, false), partial_first(amount_clean#2923, false)], output=[order_id#17, first#2960, valueSet#2961, first#2962, valueSet#2963, first#2964, valueSet#2965, first#2966, valueSet#2967, first#2968, valueSet#2969, first#2970, valueSet#2971, first#2972, valueSet#2973, first#2974, valueSet#2975])
               +- Filter (isnotnull(status#2921) AND (status#2921 = Completed))
                  +- SortAggregate(key=[order_id#17], functions=[first(customer_id#18, false), first(city#71, false), first(category#72, false), first(product#73, false), first(amount#22, false), first(order_date#23, false), first(status#24, false), first(amount_clean#75, false)], output=[order_id#17, customer_id#2909, city#2911, category#2913, product#2915, amount#2917, order_date#2919, status#2921, amount_clean#2923])
                     +- Sort [order_id#17 ASC NULLS FIRST], false, 0
                        +- Exchange hashpartitioning(order_id#17, 200), ENSURE_REQUIREMENTS, [plan_id=4558]
                           +- SortAggregate(key=[order_id#17], functions=[partial_first(customer_id#18, false), partial_first(city#71, false), partial_first(category#72, false), partial_first(product#73, false), partial_first(amount#22, false), partial_first(order_date#23, false), partial_first(status#24, false), partial_first(amount_clean#75, false)], output=[order_id#17, first#2992, valueSet#2993, first#2994, valueSet#2995, first#2996, valueSet#2997, first#2998, valueSet#2999, first#3000, valueSet#3001, first#3002, valueSet#3003, first#3004, valueSet#3005, first#3006, valueSet#3007])
                              +- Sort [order_id#17 ASC NULLS FIRST], false, 0
                                 +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, CASE WHEN RLIKE(amount_clean#74, ^[0-9]+$) THEN cast(amount_clean#74 as int) END AS amount_clean#75]
                                    +- Project [order_id#17, customer_id#18, initcap(trim(city#19, None)) AS city#71, initcap(trim(category#20, None)) AS category#72, initcap(trim(product#21, None)) AS product#73, amount#22, order_date#23, status#24, regexp_replace(amount#22, ,, , 1) AS amount_clean#74]
                                       +- FileScan csv [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/orders.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,customer_id:string,city:string,category:string,product:string,amount:strin...

In [ ]:
#UDF
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
def classify(amount):
  if amount is None:
    return None
  elif amount>=80000:
    return "High"
  elif amount>=40000:
    return "Medium"
  else:
    return "Low"
classify_udf=udf(classify,StringType())
df=df.withColumn("order_value_category",classify_udf(col("amount_clean")))

In [ ]:
#RDD
rdd=df.rdd
total_revenue=rdd.map(lambda x:x.amount_clean).reduce(lambda a,b:a+b)
orders_per_city=rdd.map(lambda x:(x.city,1))\
         .reduceByKey(lambda a,b:a+b)

In [ ]:
#caching
df.cache()
df.groupBy("city").sum("amount_clean").show()
df.groupBy("category").sum("amount_clean").show()
df.unpersist()

In [ ]:
df.write.mode("overwrite")\
.partitionBy("city")\
.parquet("clean_orders_parquet")

In [ ]:
#debugging
df=df.filter(df.amount_clean>50000)
df.show()