In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder\
     .appName("Basics")\
     .getOrCreate()

Pyspark basic exercises

In [6]:
data = [
("C001", "Arjun", "Hyderabad", 25, 45000, "Electronics"),
("C002", "Meera", "Chennai", 32, 52000, "Grocery"),
("C003", "Rajesh", "Bangalore", 29, 61000, "Clothing"),
("C004", "Priya", "Delhi", 22, 38000, "Grocery"),
("C005", "Sanjay", "Mumbai", 35, 72000, "Electronics"),
("C006", "Kavya", "Hyderabad", 28, 48000, "Grocery"),
("C007", "Imran", "Delhi", 31, 53000, "Clothing"),
("C008", "Divya", "Chennai", 27, 45000, "Electronics"),
("C009", "Anil", "Bangalore", 40, 85000, "Furniture"),
("C010", "Ritu", "Mumbai", 23, 39000, "Clothing"),
("C011", "Hari", "Hyderabad", 33, 56000, "Grocery"),
("C012", "Sana", "Delhi", 26, 47000, "Electronics"),
("C013", "Vikram", "Chennai", 38, 91000, "Furniture"),
("C014", "Deepa", "Mumbai", 30, 62000, "Clothing"),
("C015", "Asha", "Bangalore", 24, 41000, "Grocery"),
("C016", "Kiran", "Delhi", 29, 59000, "Furniture"),
("C017", "Farah", "Hyderabad", 36, 70000, "Clothing"),
("C018", "Tarun", "Chennai", 28, 53000, "Furniture"),
("C019", "Nisha", "Mumbai", 21, 35000, "Grocery"),
("C020", "Yusuf", "Bangalore", 34, 76000, "Electronics"),
("C021", "Pooja", "Delhi", 27, 47000, "Clothing"),
("C022", "Zara", "Hyderabad", 32, 58000, "Grocery"),
("C023", "Ajay", "Chennai", 30, 51000, "Furniture"),
("C024", "Reema", "Bangalore", 28, 49000, "Clothing"),
("C025", "Gautam", "Mumbai", 39, 82000, "Furniture"),
("C026", "Swati", "Delhi", 25, 46000, "Electronics"),
("C027", "Mahesh", "Hyderabad", 41, 90000, "Furniture"),
("C028", "Anita", "Chennai", 26, 44000, "Clothing"),
("C029", "Sameer", "Bangalore", 33, 68000, "Electronics"),
("C030", "Leela", "Delhi", 22, 36000, "Grocery")
]
columns = ["customer_id", "name", "city", "age", "annual_spend", "category"]
df=spark.createDataFrame(data,columns)
df.show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend|   category|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
+-----------+------+---------+---+------------+-----------+
only showing top 20 rows

Exercise 1

Show the first 10 customers.

In [7]:
df.head(10)

[Row(customer_id='C001', name='Arjun', city='Hyderabad', age=25, annual_spend=45000, category='Electronics'),
 Row(customer_id='C002', name='Meera', city='Chennai', age=32, annual_spend=52000, category='Grocery'),
 Row(customer_id='C003', name='Rajesh', city='Bangalore', age=29, annual_spend=61000, category='Clothing'),
 Row(customer_id='C004', name='Priya', city='Delhi', age=22, annual_spend=38000, category='Grocery'),
 Row(customer_id='C005', name='Sanjay', city='Mumbai', age=35, annual_spend=72000, category='Electronics'),
 Row(customer_id='C006', name='Kavya', city='Hyderabad', age=28, annual_spend=48000, category='Grocery'),
 Row(customer_id='C007', name='Imran', city='Delhi', age=31, annual_spend=53000, category='Clothing'),
 Row(customer_id='C008', name='Divya', city='Chennai', age=27, annual_spend=45000, category='Electronics'),
 Row(customer_id='C009', name='Anil', city='Bangalore', age=40, annual_spend=85000, category='Furniture'),
 Row(customer_id='C010', name='Ritu', city='Mumbai', age=23, annual_spend=39000, category='Clothing')]

Exercise 2

List all unique cities.
Hint:
df.select("city").distinct()

In [8]:
df.select("city").distinct().show()

+---------+
|     city|
+---------+
|Bangalore|
|  Chennai|
|   Mumbai|
|    Delhi|
|Hyderabad|
+---------+

Exercise 3

Display only customer_id, name, and annual_spend columns.

In [13]:
df.select("customer_id","name","annual_spend").show()

+-----------+------+------------+
|customer_id|  name|annual_spend|
+-----------+------+------------+
|       C001| Arjun|       45000|
|       C002| Meera|       52000|
|       C003|Rajesh|       61000|
|       C004| Priya|       38000|
|       C005|Sanjay|       72000|
|       C006| Kavya|       48000|
|       C007| Imran|       53000|
|       C008| Divya|       45000|
|       C009|  Anil|       85000|
|       C010|  Ritu|       39000|
|       C011|  Hari|       56000|
|       C012|  Sana|       47000|
|       C013|Vikram|       91000|
|       C014| Deepa|       62000|
|       C015|  Asha|       41000|
|       C016| Kiran|       59000|
|       C017| Farah|       70000|
|       C018| Tarun|       53000|
|       C019| Nisha|       35000|
|       C020| Yusuf|       76000|
+-----------+------+------------+
only showing top 20 rows

Exercise 4

Filter all customers who spend more than 60000 annually.

In [16]:
df.filter(df.annual_spend>60000).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend|   category|
+-----------+------+---------+---+------------+-----------+
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|
+-----------+------+---------+---+------------+-----------+

Exercise 5

Show all customers from Delhi who are younger than 30.

In [17]:
df.filter(df.age<30).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend|   category|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|
|       C021| Pooja|    Delhi| 27|       47000|   Clothing|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|
|       C026| Swati|    Delhi| 25|       46000|Electronics|
|       C028| Anita|  Chennai| 26|       44000|   Clothing|
|       C030| Leela|    Delhi| 22|       36000|    Grocery|
+-----------+------+---------+---+------------+-----------+

Exercise 6

Create a new column named "spend_lakh" = annual_spend / 100000.

In [33]:
from pyspark.sql.functions import col
df2 = df.withColumn("spend_lakh" , col("annual_spend") / 100000 )
df2.show()

AttributeError: 'NoneType' object has no attribute 'withColumn'

Exercise 7

Create a new column "customer_type"
Logic:
spend > 70000 → Premium
else → Standard
Use when() and otherwise().